<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
		<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' async></script>
		<link rel="stylesheet" href="/css/landing.css">
		<title> YelpCamp </title>
	</head>
	<body>

<div id='landing-header'>
	<h1>
		Welcome to YelpCamp
	</h1>
	<a href='/campgrounds' class='btn btn-lg btn-success'>View All Campgrounds</a>	
</div>
		
<ul class='slideshow'>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<%- include("partials/footer") %> 